.bi-bell-fill {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23212529' class='bi bi-bell-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2m.995-14.901a1 1 0 1 0-1.99 0A5 5 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901'/%3E%3C/svg%3E");
}

.top-row-bell {
    color: #212529;
    text-decoration: none;
    padding-top: 0.25rem;
}

    .top-row-bell:hover {
        text-decoration: none;
    }

/* Style dla rozwijanego menu powiadomień */
.dropdown-menu-right {
    right: 0;
    left: auto;
    border-radius: 0.25rem;
}

.dropdown-item-notification {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
    white-space: normal;
}

    .dropdown-item-notification:hover {
        background-color: #f8f9fa;
    }

    /* NOWY STYL: Podświetlenie nieprzeczytanych */
    .dropdown-item-notification.unread {
        background-color: #f0f8ff; /* Jasnoniebieskie tło */
    }

    .dropdown-item-notification:last-child {
        border-bottom: 0;
    }
